<div class="feature-wrapper">
    <div [style.display]="displayIntroduction">
        <p class="feature-heading">
            Back and forth and back and forth and back and forth...
        </p>
        <!--
    <span class="feature-control" style="font-size: 42pt; vertical-align: middle;">
        <mat-icon [inline]="true" [style.color]="westArrowColor" style="vertical-align: middle">arrow_back</mat-icon>
        <button mat-fab (click)="onCatchAndThrowGo()" style="vertical-align: middle; font-size: 42pt;">
            <mat-icon [inline]="true" style="padding-bottom: 6px;">swap_horiz</mat-icon>
        </button>
        <mat-icon [inline]="true" [style.color]="eastArrowColor" style="vertical-align: middle">arrow_forward</mat-icon>
    </span>
    -->
    </div>
</div>