<div>
    <!--
    <audio autoplay>
        <source type="audio/mpeg" src="../../../assets/Train Whistle-SoundBible.com-458982136.mp3" />
    </audio>
    -->
    <!--
    <mat-card class="feature-card unselectable">
        <mat-card-title>Cows!</mat-card-title>
        <span class="feature-control" style="font-size: 42pt; vertical-align: middle; color: lightgrey;">
            <mat-icon [inline]="true" style="vertical-align: middle">{{westArrowIcon}}</mat-icon>
            <button mat-fab (click)="onHeadDirectionToggle()" style="vertical-align: middle; font-size: 42pt;">
                <mat-icon [inline]="true" style="padding-bottom: 6px;">swap_horiz</mat-icon>
            </button>
            <mat-icon [inline]="true" style="vertical-align: middle">{{eastArrowIcon}}</mat-icon>
        </span>
    </mat-card>    
-->
<app-feature-turning-heads></app-feature-turning-heads>
<app-feature-catch-and-throw></app-feature-catch-and-throw>

</div>