<br />
<mat-accordion app-expansion-panel-concealer displayMode="flat">
    <!--
    <audio autoplay>
        <source type="audio/mpeg" src="../../../assets/Train Whistle-SoundBible.com-458982136.mp3" />
    </audio>
    -->
    <!--
    <mat-card class="feature-card unselectable">
        <mat-card-title>Cows!</mat-card-title>
        <span class="feature-control" style="font-size: 42pt; vertical-align: middle; color: lightgrey;">
            <mat-icon [inline]="true" style="vertical-align: middle">{{westArrowIcon}}</mat-icon>
            <button mat-fab (click)="onHeadDirectionToggle()" style="vertical-align: middle; font-size: 42pt;">
                <mat-icon [inline]="true" style="padding-bottom: 6px;">swap_horiz</mat-icon>
            </button>
            <mat-icon [inline]="true" style="vertical-align: middle">{{eastArrowIcon}}</mat-icon>
        </span>
    </mat-card>    
-->

    <mat-expansion-panel>
        <!--
    <mat-expansion-panel (closed)="appExclusiveOpen.closed()" (opened)="appExclusiveOpen.opened()">
    -->
        <mat-expansion-panel-header matRipple>
            Cows!
        </mat-expansion-panel-header>
        <app-turning-heads-feature></app-turning-heads-feature>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header matRipple>
            Catch and Throw
        </mat-expansion-panel-header>
        <app-catch-and-throw-feature></app-catch-and-throw-feature>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header matRipple>
            Pick a Train
        </mat-expansion-panel-header>
        <app-pick-a-train-feature></app-pick-a-train-feature>
    </mat-expansion-panel>

</mat-accordion>