.feature-control {
    font-size: 4em;
}

.feature-control mat-icon {
    padding-top: .2em !important;
    font-weight: bold;
}

.circle-icon {
/*    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px black solid;
    box-sizing: border-box;
    margin: 4px 0; */
    color: green;
}

.actions {
    width: 100%;
}

.action-one-centered {
    text-align: center;
}

.action-two-centered {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 50% !important;
}

.message-button {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;

    // vertical-align: middle;
    text-align: center;
    // align-items: center;
    width: 8em;
  }
  
  .message-button mat-icon {
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  
  .message-button-negative mat-icon {
    color: red;
  }
  
  .message-button-positive mat-icon {
    color: green;
  }

  .feature-introduction {
    display: block;
  }

  .feature-active {
      display: none;
  }

  .feature-waiting {
      display: none;
  }

.feature-wrapper {
    border-top: 1px solid rgba(0,0,0,.2);
    margin-top: 0;
    padding-top: 7px;
}

.feature-heading {
    margin-top: 0;
}

.feature-heading-centered {
    margin-top: 0;
    text-align: center;
}
