<br />
<mat-accordion displayMode="flat">
    <!--
    <audio autoplay>
        <source type="audio/mpeg" src="../../../assets/Train Whistle-SoundBible.com-458982136.mp3" />
    </audio>
    -->
    <!--
    <mat-card class="feature-card unselectable">
        <mat-card-title>Cows!</mat-card-title>
        <span class="feature-control" style="font-size: 42pt; vertical-align: middle; color: lightgrey;">
            <mat-icon [inline]="true" style="vertical-align: middle">{{westArrowIcon}}</mat-icon>
            <button mat-fab (click)="onHeadDirectionToggle()" style="vertical-align: middle; font-size: 42pt;">
                <mat-icon [inline]="true" style="padding-bottom: 6px;">swap_horiz</mat-icon>
            </button>
            <mat-icon [inline]="true" style="vertical-align: middle">{{eastArrowIcon}}</mat-icon>
        </span>
    </mat-card>    
-->

    <mat-expansion-panel app-feature-panel="0" [expanded]="expanded[0]" (opened)="onOpened(0)" (closed)="onClosed()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Cows!
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-feature-turning-heads (complete)="onClosed()"></app-feature-turning-heads>
    </mat-expansion-panel>

    <mat-expansion-panel app-feature-panel="1" [expanded]="expanded[1]" (opened)="onOpened(1)" (closed)="onClosed()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Catch and Throw
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-feature-catch-and-throw (complete)="onClosed()"></app-feature-catch-and-throw>
    </mat-expansion-panel>

    <mat-expansion-panel app-feature-panel="2" [expanded]="expanded[2]" (opened)="onOpened(2)" (closed)="onClosed()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Pick a Train
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-feature-pick-a-train (complete)="onClosed()"></app-feature-pick-a-train>
    </mat-expansion-panel>

</mat-accordion>