<br />
<mat-accordion app-expansion-panel-concealer displayMode="flat">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Cows!
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-turning-heads-settings></app-turning-heads-settings>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Catch and Throw
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-catch-and-throw-settings></app-catch-and-throw-settings>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Pick a Train
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pick-a-train-settings></app-pick-a-train-settings>
    </mat-expansion-panel>

</mat-accordion>
<!--
<h2>Settings</h2>

<form [formGroup]="settingForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <h3>Catch &amp; Throw</h3>
-->
<!--
    <app-controller-port></app-controller-port>

    <mat-form-field>
        <app-time-period formControlName="minStopTime" placeholder="Minimum stop time"></app-time-period>
    </mat-form-field>
-->
<!--
    <mat-checkbox type="checkbox" formControlName="enabled">Enabled</mat-checkbox>

    <mat-form-field class="app-form-field">
        <mat-label>Minimum stop time</mat-label>
        <input matInput formControlName="minStopTime" placeholder="booga booga">
    </mat-form-field>

    <mat-form-field class="app-form-field">
        <mat-label>Maximum stop time</mat-label>
        <input matInput formControlName="maxStopTime" placeholder="">
    </mat-form-field>

    <mat-form-field class="app-form-field">
        <mat-label>Running time</mat-label>
        <input matInput formControlName="runningTime" placeholder="">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!settingForm.valid">Apply</button>

</form>
-->