h2 {
    font-weight: bold;
}

.mat-checkbox-label {
    font-size: .5em;
    display: block;
}
mat-form-field {
    display: block;
}

/*  
mat-label {
    font-size: 18pt;
}

label > input[type="text"] {
    display: block;
}

input[type="text"] {
    display: block;
    margin-bottom: 1em;
}

label.checkbox {
    // position: relative;
    // float: right;
    display: block;
    margin-bottom: 1em;
}

input[type="checkbox"] {
    // text-align: right;
    // float: left;
    // position: relative;
    display: inline-block;
    margin-right: 0.5em;
    // margin-bottom: 1em;
}
*/
