<mat-sidenav-container class="container">

    <mat-sidenav #sidenav mode="over" role="navigation" (click)="sidenav.close()">

        <!-- Workaround, still required as of Angular 6.
                 See: https://stackoverflow.com/questions/42442406/angular-2-material-sidenav-focus-on-the-first-navigation-item -->
        <button mat-button style="height:0; padding:0; margin: 0;"></button>
        <mat-nav-list>
            <button mat-button style="text-align: left; width: 100%; border-bottom: 1px black solid; width: 100%; margin-bottom: 4px;"
                [routerLink]="''">
                <img src="../assets/SCLTC-Logo-50x50.png" style="z-index:-1;" />
                <span style="display: inline-block; font-size: 1em; line-height: 1em; padding-left: 0.4em; text-align: left;">
                    <div><strong>Southern California</strong></div>
                    <div><strong>LEGO<sup>®</sup> Train Club</strong></div>
                </span>
            </button>

            <ng-container *ngFor="let route of routes">
                <button mat-button style="display: block; font-size: 1.2em; text-align: left; width: 100%;" *ngIf="showSide(route)"
                    [routerLink]="[route.path]" routerLinkActive="active">
                    {{route.data.title}}
                </button>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="ie-stickyFooter">

            <div class="wrapper">

                <header role="banner">

                    <mat-toolbar>

                        <div fxHide.gt-xs>
                            <button mat-icon-button onclick="this.blur()" (click)="sidenav.open();">
                                <mat-icon>menu</mat-icon>
                            </button>
                        </div>

                        <button mat-button class="logo" fxHide.lt-sm routerLink="">
                            <img style="display: inline-block" [src]="logo" />
                            <span>
                                <div>Southern California</div>
                                <div>LEGO<sup>®</sup> Train Club</div>
                            </span>
                        </button>

                        <span fxFlex fxLayout fxLayoutAlign="flex-end">
                            <span fxHide.lt-sm class="menu-buttons">

                                <nav mat-tab-nav-bar>
                                    <ng-container *ngFor="let route of routes">
                                        <a mat-tab-link *ngIf="showMain(route)" [routerLink]="[route.path]"
                                            routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
                                            {{route.data.title}}
                                        </a>
                                    </ng-container>
                                </nav>
                                <!--
                                <ul>
                                    <ng-container *ngFor="let route of routes">
                                        <li>
                                            <button *ngIf="showMain(route)" mat-button [routerLink]="[route.path]"
                                                routerLinkActive="active">
                                                     {{route.data.title}}
                                             </button>
                                        </li>
                                    </ng-container>
                                </ul>
                                -->
                            </span>

                            <span fxHide.gt-xs style="align-content: top;">
                                <button mat-icon-button routerLink="">
                                    <img src="../assets/SCLTC-Logo-32x32.jpg" />
                                </button>
                            </span>
                        </span>

                    </mat-toolbar>

                </header>

                <main class="overlay-container under-construction">
                    <div [class.background]="showBackground">
                        <div class="outlet">
                            <router-outlet #o="outlet"></router-outlet>
                        </div>
                    </div>
                </main>

                <footer [innerHTML]="footerContent"></footer>

            </div>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>