<div class="container">
  <div class="header">
    <h1>Troubleshooting</h1>
    <p>If you are at our exhibit, the instructions below will help you to connect your mobile device to our on-site
      Wi-Fi so you can start the fun. If you need help, just ask one of our SCLTC members to assist!</p>
  </div>
  <div class="instructions">
    <p>1. Ensure your mobile device Wi-Fi is turned on.</p>
    <p>2. Search for and connect to the Wi-Fi router named SCLTC. The router does not require a password.</p>
    <p>3. Once you have connected, you may be notified that your Wi-Fi connection has no internet access. That is
      correct and expected, your Wi-Fi connection will be used only to communicate with our exhibit controller.
      Your mobile device will continue to use your wireless carrier for its internet access.</p>
    <p>4. The button below will be available when you have successfully completed the Wi-Fi connection. Press it to
      begin!</p>
    <a mat-raised-button routerLink="/troubleshooting">
      <!--[ngClass]="routeAnimationsElements" /a>> -->
      <strong>Connected and ready for fun!</strong>
    </a>
  </div>
</div>