<div class="container">
  <div class="background">
    <h1>Welcome to Our Exhibit</h1>
    <div>
      <!-- </div> [ngClass]="routeAnimationsElements"> -->
      <p>Welcome to the Southern California LEGO<sup>®</sup> Train Club's 2018 Holiday Exhibit at
        <strong>TO BE REVEALED SOON</strong>. We have created this web site to allow you
        to share in the fun of operating our layout!</p>

      <button mat-stroked-button class="message-button message-button-positive" routerLink="../features">
        Click here <mat-icon [inline]="true">play_circle_outline</mat-icon> to begin!
      </button>
      <!--
              <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
                 [ngClass]="routeAnimationsElements">
                Examples
              </a>
              -->

      <div layout="row" layout-align="center end">
        <!--  [ngClass]="routeAnimationsElements" -->
        <p></p>
      </div>
    </div>
  </div>