
.message-button {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 3em;
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
  }
  
  .message-button mat-icon {
    vertical-align: middle;
    font-size: 2em;
  }
  
  .message-button-negative mat-icon {
    color: red;
  }
  
  .message-button-positive mat-icon {
    color: green;
  }
/*
.start-button {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 3em;
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
}

.start-button mat-icon {
    font-size: 2em;
    color: green;
    vertical-align: middle;
}
*/