<div class="feature-wrapper" app-expansion-panel-pager #cowPager="appExpansionPanelPager" (page-closed)="pageClosed($event)"
    (page-opened)="pageOpened($event)">

    <div app-expansion-panel-page="introduction">
        <p class="feature-heading">
            Our cows gaze left and right. Even better, they can do it under your control!
            Our younger guests especially enjoy it when the cows follow their own movements
            and your secret is safe; our cows will never let anyone know who makes them move!
        </p>
        <div class="actions">
            <div class="action-two-centered">
                <app-button-lets-do-this (click)="cowPager.display('waiting')"></app-button-lets-do-this>
            </div>
            <div class="action-two-centered">
                <app-button-no-thanks (click)="cowPager.close()"></app-button-no-thanks>
            </div>
        </div>
    </div>

    <div app-expansion-panel-page="waiting">
        <p class="feature-heading-centered">
            Be ready! Your turn starts in no more than:
        </p>
        <flip-clock [countdown-timer]="waitTime" #waitTimer="countdownTimer" [timer]="waitTimer.value" (complete)="show('Your turn has begun!'); cowPager.display('playing');"></flip-clock>
        <div class="actions action-one-centered">
            <app-button-no-thanks (click)="cowPager.close()"></app-button-no-thanks>
        </div>
    </div>

    <div app-expansion-panel-page="playing">
        <audio autoplay *ngIf="playSound">
            <source type="audio/mpeg" src="../../../assets/Cow_Moo-Mike_Koenig-42670858.mp3" />
        </audio>
        <p class="feature-heading-centered">
            Our cows are now under your control! Your turn ends in:
        </p>
        <flip-clock [countdown-timer]="playTime" #playTimer="countdownTimer" [timer]="playTimer.value" (complete)="show('Thanks for playing!'); cowPager.close();"></flip-clock>
        <div class="actions action-one-centered">
            <app-button-direction [(direction)]="direction"></app-button-direction>
        </div>
    </div>

</div>