<div class="flip-clock">
  <div class="flip-clock-group">
    <div class="flip-clock-label">Hours</div>
    <flip-clock-digit [digit]="getHoursTensPlace"></flip-clock-digit>
    <flip-clock-digit [digit]="getHoursOnesPlace"></flip-clock-digit>
  </div>
  <div class="flip-clock-divider"></div>
  <div class="flip-clock-group">
    <div class="flip-clock-label">Minutes</div>
    <flip-clock-digit [digit]="getMinutesTensPlace"></flip-clock-digit>
    <flip-clock-digit [digit]="getMinutesOnesPlace"></flip-clock-digit>
  </div>
  <div class="flip-clock-divider"></div>
  <div class="flip-clock-group">
    <div class="flip-clock-label">Seconds</div>
    <flip-clock-digit [digit]="getSecondsTensPlace"></flip-clock-digit>
    <flip-clock-digit [digit]="getSecondsOnesPlace"></flip-clock-digit>
  </div>
</div>