[Unit]
Description=Brick Intellect Web Server Service
[Service]
User=robot
# The configuration file application.properties should be here:
# change this to your workspace
WorkingDirectory=/home/robot/guest-web
# path to executable. 
# executable is a bash script which calls jar file
ExecStart=/home/robot/guest-web/webserver-start --daemon
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
