<div class="feature-wrapper" app-expansion-panel-pager #catcherPager="appExpansionPanelPager" (page-closed)="pageClosed($event)"
    (page-opened)="pageOpened($event)">

    <div app-expansion-panel-page="introduction">
        <p class="feature-heading">

            Back and forth and back and forth and back and forth...

        </p>
        <div class="actions">
            <div class="action-two-centered">
                <app-button-lets-do-this (click)="reserve()"></app-button-lets-do-this>
            </div>
            <div class="action-two-centered">
                <app-button-no-thanks (click)="abandon()"></app-button-no-thanks>
            </div>
        </div>
    </div>

    <div app-expansion-panel-page="waiting">
        <p class="feature-heading-centered">
            Be ready! Your turn starts in no more than:
        </p>
        <flip-clock [countdown-timer]="waitTime" #waitTimer="countdownTimer" [timer]="waitTimer.value" (complete)="catcherPager.display('playing')"></flip-clock>
        <div class="actions action-one-centered">
            <app-button-no-thanks (click)="abandon()"></app-button-no-thanks>
        </div>
    </div>

    <div app-expansion-panel-page="playing" (page-closed)="show('Thanks for playing!')" (page-opened)="show('Your turn has begun!')">
        <audio autoplay *ngIf="playSound">
            <source type="audio/mpeg" src="../../../assets/Train Whistle-SoundBible.com-458982136.mp3" />
        </audio>
        <p class="feature-heading-centered">
            Our train is now under your control! Your turn ends in:
        </p>
        <flip-clock [countdown-timer]="playTime" #playTimer="countdownTimer" [timer]="playTimer.value" (complete)="catcherPager.close()"></flip-clock>
        <div class="actions action-one-centered">
            <app-button-direction [direction]="direction" (change)="change($event)"></app-button-direction>
        </div>
    </div>

</div>