<h2>Settings</h2>
<!--

<form [formGroup]="settingForm" (ngSubmit)="onSubmit()">

    <h3>Catch &amp; Throw</h3>

    <label class="checkbox">
        <input type="checkbox" formControlName="enabled">
        Enabled
    </label>
    <label>
        Minimum stop time
        <input type="text" formControlName="minStopTime">
    </label>
    <label>
        Maximum stop time
        <input type="text" formControlName="maxStopTime">
    </label>
    <label>
        Running time
        <input type="text" formControlName="runningTime">
    </label>

    <button type="submit" [disabled]="!settingForm.valid">Apply</button>

</form>
-->